
body{
	margin:0;
	padding:0;
    background:#FFF;
    -webkit-font-smoothing: antialiased;
}
a:hover{text-decoration: none; cursor:pointer;}


/* Globals type styling */

h1,h5,h6,label,a{
	font-family:"Helvetica";
}
h1{
    font-size:38px;   
}
h2{
	font-family:Montserrat;
    font-size: 34px;
}
h3{
	font-family:Montserrat;
    font-size: 34px;
}
h4{
	font-family:Montserrat;
}
.comment{
	font-family:helvetica neue;
	font-size:18px;
    max-width:350px;
    margin:0 auto;
}
.hero p{
     max-width:450px;
}
.btn{
	font-family:Montserrat;
}

/* Site container width */

.container{
	max-width:1170px;
}

/* Blocs */

.bloc{
	width:100%;
	background: 50% 50% no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



/* Bloc sizes */

.bloc-xl{
	/*padding:200px 0;*/
}
.bloc-lg{
	padding:100px 0;
}
.bloc-md{
	padding:50px 0;
}


/* Bloc - Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc h1, .d-bloc h2, .d-bloc h3, .d-bloc h4,.d-bloc h5, .d-bloc h6, .d-bloc .ico{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc a{
	color:rgba(255,255,255,.6);
}
.d-bloc a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.voffset{
	margin-top:30px;
}


/* Custom bloc styling */

#nav-bloc,#hero-bloc,#features,#bloc-4,#bloc-5,#bloc-6{
	background-color:#1f272a;
}
#core,#help,#footer{
	background-color:#272f35;
}
#buy{
	background-color:#43a6e9;
}
#core h2,#core h4,#core h4,#core h4,#features h4,#features h4,#features h4{
	color:#ffffff;
}
#core h3,#features h3,#help h3{
	color:#43a6e9;
}
#buy h3{
	color:#2676ac;
}
.hero,#core,#help,#features{
	color:#59636b;
}

/* Hero bloc */

.hero{
	padding-top:0;
}
.v-center{
	width:100%;
	height: 90%;
	display: table;
}
.v-center .vc-content{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 100%;
}
.hero-content{
    width:500px; 
    margin:0 auto;
}
.hero .btn-dwn{
	width: 58px;
	height: 58px;
	line-height: 58px;
	margin: 0 0 0 -29px;
	border-radius: 50%;
	text-align: center;
	font-size: 18px;
	color: rgba(255,255,255,.6);
    border:2px solid rgba(255,255,255,.15); 
	position: absolute;
	left: 50%;
	bottom: 60px;
}
.hero .btn-dwn:hover{
	color: rgba(255,255,255,1);
}

/* Bric adjustment margins */

.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}
.mg-xl{
    margin-top: 10px;
    margin-bottom: 60px;
}
.mg-split{
  margin:0 20px;  
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-sm{
	margin-bottom:10px;
}
img.mg-md{
	margin-bottom:20px;
}
img.mg-lg{
	margin-bottom:40px;
}
.col-sm-4 {
	width: 33.3333%;
}
.col-sm-5 {
	width: 50%;
}
#hero-bloc h5 {
	color: #59636b;
}
#hero-bloc h1 {
	color: #43a6e9;
}
